footer {
    background: var(--dark);
    color: #ccc;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: #fff;
}

footer .container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

footer #footerlegal {
    margin-top: 30px;
}
footer #footerlegal a {
    color: #9e9e9e;
}

footer #footernavigation > *:not(:first-child)::before {
    content: "•";
    margin-right: 15px;
    color: #ccc;
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
    }

    footer #footernavigation > *:not(:first-child)::before {
        content: none;
    }
}
